<mat-tab-group (selectedTabChange)="tabChange($event)" (focusChange)="fChange($event)"> 
  <mat-tab label="First"> 
    <ng-template matTabContent>
      <ngx-codemirror
      (focusChange)="focus($event)"
      (ngModelChange)="handleChange($event)"
      [autoFocus]="isFocus"
      [(ngModel)]="content"
      [autoFocus]="true"
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'markdown'
        }"
      ></ngx-codemirror> 
    </ng-template> 
  </mat-tab>
  <mat-tab label="Second"> 
    <ng-template matTabContent>
      <ngx-codemirror
      (focusChange)="focus($event)"
      (ngModelChange)="handleChange($event)"
      [autoFocus]="isFocus"
      [(ngModel)]="contentTwo"
      [autoFocus]="true"
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'markdown'
        }"
      ></ngx-codemirror>  
    </ng-template>
  </mat-tab>
  <mat-tab label="Third"> 
    <ng-template matTabContent>
      <ngx-codemirror
      (click)="eventIt($event)" 
      (focusChange)="focus($event)"
      (ngModelChange)="handleChange($event)"
      [autoFocus]="isFocus"
      [(ngModel)]="contentThree"
      [autoFocus]="true"
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'markdown'
        }"
      ></ngx-codemirror>  
    </ng-template>
  </mat-tab>
</mat-tab-group>